/* Rock Paper Scissors */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 3.5vw;
  font-size: 2.5vw;
  padding-top: 0.5vw;
}

.choice {
  height: 10vw;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.choice:hover {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid black;
}

.choices img {
  height: 10vw;
  width: 10vw;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  height: 13vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 0.5vw;
  /* background-color: red; */
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5vw;
  margin-left: 2vw;
  gap: 8vw;
  font-size: 3vw;
}

#user-score,
#comp-score,
#draw {
  font-size: 4vw;
  /* background-color: blue; */
}

.msg-container {
  display: flex;
  margin-top: 3vw;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

#msg {
  background-color: #081b31;
  color: white;
  height: 2vw;
  font-size: 2vw;
  display: inline;
  border-radius: 1rem;
  padding: 0.8rem;
}

.reset {
  background-color: #791c38;
  color: white;
  height: 2vw;
  font-size: 2vw;
  display: inline;
  border-radius: 0.9rem;
  padding: 0.8rem;
}

.display-choices img {
  /* background-image: url("./images/rock.png"); */
  height: 6vw;
  width: 6vw;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
}

.display-choices {
  height: 10vw;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-left: 25.5vw;
  margin-top: 2vw;
}

.pc-choice {
  font-size: 1.5vw;
}

.reset,
.reset2,
.box:hover {
  cursor: pointer;
}

/* Tic Tac Toe */

.tic {
  margin-top: 5vw;
}

.tic-tac-toe {
  margin-bottom: 5vw;
}

.container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  height: 58vmin;
  width: 62vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.8);
  font-size: 8vmin;
  color: #b0413e;
}

.msg-container2 {
  /* background-color: #191913; */
  color: black;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  height: 3vw;
}

.reset2 {
  background-color: #791c38;
  color: white;
  height: 2vw;
  font-size: 2vw;
  display: inline;
  border-radius: 0.9rem;
  padding: 0.8rem;
}

.msg2 {
  background-color: #191913;
  color: white;
  height: 2vw;
  font-size: 2vw;
  display: inline;
  border-radius: 0.9rem;
  padding: 0.8rem;
}
